.inc {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--sp-2);
	text-align: left;

	.theImage {
		width: 90%;
		height: auto;
		border-radius: var(--wdth-05);
	}

	.theCaption {
		width: 90%;
		color: var(--fg-3);
		font-size: var(--t-micro);
		line-height: var(--lh-mili);
		font-style: italic;

		overflow-wrap: break-word;
	}
}
