.biasesPage {
	margin-inline: auto;

	& .thePage {
		display: flex;
		flex-direction: column;

		& .action {
			font-size: var(--t-body);
			line-height: var(--lh-body);
		}

		& .biasesGrid {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			margin-inline: auto;
			margin-block: var(--sp-2);
			gap: var(--sp-4);

			@media (width >= 28.75rem) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}

		@media (width >= 28.75rem) {
			row-gap: var(--sp-5);
		}
	}
}

.biasesHeader {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	margin-inline: auto;
	margin-block: auto;

	& .brainIcon {
		display: none;
		@media (width >= 28.75rem) {
			display: block;
		}
	}

	& .desc {
		margin-block: var(--sp-2);
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
		/* column-gap: var(--sp-2); */

		& .title {
			text-align: start;
			margin-bottom: var(--sp-4);
		}

		& .question {
			text-decoration: underline;
			text-underline-offset: var(--sp-05);
			text-decoration-color: var(--c-bias);
			display: inline-block;
		}
	}

	@media (width >= 28.75rem) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.brainIcon {
	width: fit-content;
	max-width: var(--wdth-12);
	margin: auto;

	& .icon {
		color: var(--c-bias);
		padding-inline: var(--sp-2);
		width: 100%;
		height: auto;
		flex-shrink: 0;
	}
}

.biasCard {
	position: relative;
	display: flex;
	height: fit-content;
	background-color: var(--surface-2);
	box-shadow: var(--shadow-2);
	border-radius: var(--r-md);
	padding: var(--sp-4);
	border-left: var(--sp-1) solid var(--c-bias);

	&.borderWip {
		border-left: var(--sp-1) solid var(--border-2);
	}

	&.borderOnAir {
		border-left: var(--sp-1) solid var(--c-bias);
	}

	& .wip {
		color: var(--fg);
		pointer-events: none;
		border: transparent;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		opacity: 20%;
		filter: grayscale(1);
	}

	& .onAir {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;
	}

	& .biasDesc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/* flex: 1; */

		& .biasName {
			line-clamp: 2;
			text-overflow: ellipsis;
			overflow: hidden;
			flex-wrap: wrap;
			color: var(--fg);
		}

		& .biasQuestion {
			display: flex;
			flex-direction: column;
			/* justify-content: space-between; */
			gap: var(--sp-2);
			/* margin-top: auto; */

			& .question {
				line-clamp: 3;
				line-height: var(--lh-body);
				font-size: var(--t-body);
				letter-spacing: var(--tracking-wider);
			}
		}
	}

	& .studying {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-inline: var(--sp-3);
		pointer-events: none;

		& .disclaimer {
			color: var(--fg);
			background-color: var(--surface-3);
			font-size: var(--t-body);
			line-height: var(--lh-body);
			font-family: var(--ff-pixel);
			letter-spacing: var(--tracking-wider);
			border: var(--sp-05) solid var(--c-wip);
			padding: var(--sp-1) var(--sp-2);
			border-radius: var(--r-sm);
			box-shadow: var(--shadow-2);
		}
	}
}

.biasCategory {
	display: flex;
	flex-wrap: wrap;
	gap: var(--sp-3);

	& .pill {
		font-family: var(--ff-pixel);
		border: var(--wdth) solid var(--pill-color);
		padding: var(--sp-05) var(--sp-1);
		width: fit-content;
		border-radius: var(--r-sm);
		letter-spacing: var(--tracking-widest);
		text-transform: capitalize;
		font-size: var(--t-nano);
		line-height: var(--lh-nano);
		font-weight: 500;
		color: var(--pill-color);
		background-color: color-mix(in srgb, var(--pill-color) 10%, transparent);
	}
	.speed {
		--pill-color: var(--c-bias-category-speed);
	}
	.memory {
		--pill-color: var(--c-bias-category-memory);
	}
	.judgment {
		--pill-color: var(--c-bias-category-judgment);
	}
	.context {
		--pill-color: var(--c-bias-category-context);
	}
	.perception {
		--pill-color: var(--c-bias-category-perception);
	}
}

.bias {
	margin-inline: auto;

	& .intro {
		display: flex;
		flex-direction: column;
		justify-content: center;

		& .textAlign {
			text-align: center;

			& .biasName {
				color: var(--fg);
				text-align: center;
				font-size: var(--t-body);
				line-height: var(--lh-body);
				margin-bottom: var(--sp-2);
				text-decoration: underline;
			}

			& .biasQuestion {
				color: var(--fg);
				font-size: var(--t-h2);
				line-height: var(--lh-h2);
				letter-spacing: var(--tracking-widest);
				margin-bottom: var(--sp-4);
			}

			& .categoriesSect {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				column-gap: var(--sp-2);
				row-gap: var(--sp-1);
				margin-bottom: var(--sp-4);
			}

			& .publish {
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: var(--fg-3);
				margin-bottom: var(--sp-1);

				& .text {
					font-size: var(--t-mili);
					line-height: var(--lh-mili);
					letter-spacing: var(--tracking-wide);
				}
			}
		}
	}
}
