.chatgpt {
	--chatgpt: rgb(16, 163, 127);
	--chatgpt-rgb: 16, 163, 127;
	background-color: rgba(var(--chatgpt-rgb), 0.05);
	color: var(--chatgpt);
	box-shadow: inset 0 0 0 0.5px var(--chatgpt);
}

.perplexity {
	--perplexity: rgb(96 166 175);
	--perplexity-rgb: 60, 166, 175;
	background-color: rgba(var(--perplexity-rgb), 0.05);
	color: var(--perplexity);
	box-shadow: inset 0 0 0 0.5px var(--perplexity);
}

.claude {
	--claude: rgb(198 97 63);
	--claude-rgb: 198, 97, 63;
	background-color: rgba(var(--claude-rgb), 0.05);
	color: var(--claude);
	box-shadow: inset 0 0 0 0.5px var(--claude);
}

.grok {
	--grok: rgb(140 140 140);
	--grok-rgb: 140, 140, 140;
	background-color: rgba(var(--grok-rgb), 0.05);
	color: var(--grok);
	box-shadow: inset 0 0 0 0.5px var(--grok);
}

.deepseek {
	--deepseek: rgb(86 134 254);
	--deepseek-rgb: 86, 134, 254;
	background-color: rgba(var(--deepseek-rgb), 0.05);
	color: var(--deepseek);
	box-shadow: inset 0 0 0 0.5px var(--deepseek);
}

.gemini {
	--gemini: rgb(194 231 255);
	--gemini-rgb: 194, 231, 255;
	background-color: rgba(var(--gemini-rgb), 0.05);
	color: var(--gemini);
	box-shadow: inset 0 0 0 0.5px var(--gemini);
}

.btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--sp-2);
	width: fit-content;
	border-radius: var(--r-sm);
	padding: var(--sp-2) var(--sp-4);
	font-weight: bold;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		scale: 0.9;
	}
	.icon {
		width: var(--wdth-pill);
		height: var(--wdth-pill);
	}

	.ai {
		display: none;
		font-size: var(--t-mili);
		line-height: var(--lh-mili);
		letter-spacing: var(--tracking-widest);

		@media (width >= 28.75rem) {
			display: block;
		}
	}
}
