.otSection {
	border: var(--wdth) solid var(--border);
	background-color: var(--surface-2);
	padding: var(--sp-2);
	border-radius: var(--sp-2);
	row-gap: var(--sp-1);
	margin-block: var(--sp-5);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	text-wrap: pretty;

	.otGrid {
		display: grid;
		grid-template-columns: auto 1fr;
		margin-block: auto;
		column-gap: var(--sp-3);

		svg {
			margin-top: var(--sp-2);
		}
	}

	.otBody {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.otText {
		font-family: var(--ff-mono);
		font-size: var(--t-mili);
		line-height: var(--lh-mili);
		margin-top: var(--sp-2);
		margin-bottom: 0;
	}
	.ot-texts {
		margin-top: var(--sp-2);
	}

	.otAsset {
		margin-top: var(--sp-2);
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: var(--sp-2);
	}

	.otLink {
		text-decoration: underline;
		text-decoration-color: var(--accent);
		padding-bottom: 0;
		letter-spacing: var(--tracking-wide);
		font-size: var(--t-body);
		line-height: var(--lh-body);

		svg {
			display: inline;
			vertical-align: middle;
			padding-left: var(--sp-1);
		}

		&:hover {
			text-decoration: none;
			color: var(--fg);
		}
	}
}
