.link {
	font-family: var(--ff-pixel);
	font-size: var(--t-mili);
	line-height: var(--lh-mili);
	text-decoration: underline;
	text-decoration-color: var(--accent);
	letter-spacing: var(--tracking-wide);
	margin-top: var(--sp-2);
	color: var(--fg);

	svg {
		display: inline;
		vertical-align: middle;
		padding-left: var(--sp-1);
	}

	&:hover {
		text-decoration: none;
		color: var(--fg);
	}
}
