.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;

	& .divider {
		border-top: var(--wdth) solid var(--border-2);
		margin-bottom: var(--sp-3);
		width: 75%;
	}

	& .elements {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		& .love {
			margin: 0;
			text-align: center;
			font-size: var(--t-mili);
			line-height: var(--lh-mili);

			& .context {
				font-weight: 600;
				color: var(--accent);
				letter-spacing: var(--tracking-widest);
			}

			& .toWorks {
				text-decoration: underline;
				text-decoration-color: #614f68;
				text-decoration-thickness: var(--sp-05);
				text-underline-offset: var(--sp-1);

				&::after {
					content: "";
					display: inline-block;
					width: var(--sp-4);
					height: var(--sp-4);
					margin-left: var(--sp-1);
					vertical-align: middle;
					background-color: currentColor;
					mask-image: url("/icons/go-out.svg");
					mask-size: contain;
					mask-repeat: no-repeat;
				}
			}
		}
	}
}
