.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;

	& .divider {
		border-top: var(--wdth) solid var(--border-2);
		margin-bottom: var(--sp-3);
		width: 75%;
	}

	& .elements {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		& .love {
			margin: 0;
			text-align: center;
			font-size: var(--t-mili);
			line-height: var(--lh-mili);

			& .context {
				font-weight: 600;
				color: var(--accent);
				letter-spacing: var(--tracking-widest);
			}
		}
	}
}
